header{
    background-color: rgb(63, 63, 63);
    padding: 25px;

}
html{
    background-color: rgb(92, 92, 92);
}
.h11{
    margin-left: 580px;
    margin-bottom: 20px;
}


.samsung{
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    border-color: rgb(68, 68, 68);
    padding:10px;
    margin-right: 1250px;
    
}
.samsung:hover{
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    border-color: rgb(68, 68, 68);
    padding: 13px;
    transition: 0.3s;
    margin-right: 1250px;
}
.iphone{
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    border-color: rgb(68, 68, 68);
    padding: 10px;
    transition: 0.3s;
    margin-right: 1250px;
}
.iphone:hover{
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    border-color: rgb(68, 68, 68);
    padding: 13px;
    transition: 0.3s;
    margin-right: 1250px;
}
.redmi:hover{
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    border-color: rgb(68, 68, 68);
    padding: 13px;
    transition: 0.3s;
}
.redmi{
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    border-color: rgb(68, 68, 68);
    padding: 10px;
    transition: 0.3s;
    margin-right: 1250px;
}
.zte{
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    border-color: rgb(68, 68, 68);
    padding: 10px;
    transition: 0.3s;
    margin-right: 1250px;
}
.zte:hover{
    background-color: rgb(68, 68, 68);
    border-radius: 4px;
    border-color: rgb(68, 68, 68);
    padding: 13px;
    transition: 0.3s;
    margin-right: 1250px;
}
